MONGO_ROOT_USER=admin
MONGO_ROOT_PASS=changeme123
MONGO_DB=hamoda_charity

CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=INFO


VITE_API_URL=/api
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YnVzeS1kdWNrbGluZy01OC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_SaOpSdUzelCDp2l8SAwAX24Ih2nDcgHjcCrUXGyKeS